!**/src/main/**
!**/src/test/**
/target/
.settings/
*~
#*
*#
.#*
/out/
/logs/
/log/
*.log
*.swp
.gradle/
gradle/
### maven
pom.xml.versionsBackup

HELP.md
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### project special
/gen
.apt_generated/
/_site/
/_generator/
/_mybatisplus_generator/
