<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.latico.archetype.springboot.dao.primary.mapper.DemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.latico.archetype.springboot.dao.primary.entity.Demo">
        <id column="auto_id" property="autoId" />
        <result column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="exec_type" property="execType" />
        <result column="exec_status" property="execStatus" />
        <result column="status_descr" property="statusDescr" />
        <result column="call_param" property="callParam" />
        <result column="call_client_id" property="callClientId" />
        <result column="collect_server_id" property="collectServerId" />
        <result column="handle_server_id" property="handleServerId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="handle_status" property="handleStatus" />
        <result column="handle_descr" property="handleDescr" />
        <result column="handle_start_time" property="handleStartTime" />
        <result column="handle_end_time" property="handleEndTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        auto_id, id, task_id, exec_type, exec_status, status_descr, call_param, call_client_id, collect_server_id, handle_server_id, create_time, update_time, handle_status, handle_descr, handle_start_time, handle_end_time
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM demo
  </select>
</mapper>
